.pw-app {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
    .pw-header {
        display: flex;
        flex-grow: 1;
        flex-basis: 15%;
    }

    .pw-body {
        display: flex;
        flex-grow: 12;
        flex-basis: 70%;
        flex-direction: row;
        overflow: hidden;
    }

    footer {
        padding: 16px;
        .react-icon {
            animation: rotating 5s linear infinite;
        }
        .heart-icon {
            animation: growing 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
        }
    }
}


@keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes growing {
      0% {
          height: 13px;
      }
      50% {
          height: 18px;
      }
      100% {
          height: 13px;
      }
  }