
.pw-app {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
}

.pw-header {
  display: flex;
  flex-grow: 1;
  flex-basis: 15%;
}

.pw-body {
  display: flex;
  flex-grow: 12;
  flex-basis: 70%;
  flex-direction: row;
}

.pw-footer {
  display: flex;
  flex-grow: 5;
  flex-basis: 15%;
}

.App-link {
  color: #61dafb;
}
