body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pw-app {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
}

.pw-header {
  display: flex;
  flex-grow: 1;
  border: 1px solid black;
}

.pw-body {
  display: flex;
  flex-grow: 12;
  flex-direction: row;
  border: 1px solid black;
}

.pw-footer {
  display: flex;
  flex-grow: 5;
  border: 1px solid black;
}